body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color:#d0bdf4;
  color: #a28089;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h h"
    "m b b"
    "f f f";
}